// Wells
// Base class 
.well {
    min-height:20px;
    max-height: 150px;
    padding:19px;
    margin-bottom:20px;
    background-color:#f5f5f5;
    border:1px solid #e3e3e3;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.05)}
   
  // Sizes
  .well-lg {
    padding:24px;
    border-radius:6px
  }
  .well-sm {
     padding:9px;
     border-radius:3px
  }
   
  //Well Blockquote
  .well blockquote{
     border-color:#ddd;
     border-color:rgba(0,0,0,.15)
  }

  .pull-right{
     float: right;
  }

  .dropdown-item:hover{
     color: #008080 !important;
  }

  .nav-link:hover{
     color: #008080 !important;
  }
  .fixed{
   clear: both;
   overflow: hidden;
   background-color: #e9ecef;
}
.navul{
   padding-top: 50px;
   width: 70%;
   float: left;
}

.navli{
   text-decoration: none;
   display: inline;    
   padding-right: 25px;  
   font-size: 20px;
}

.navulright{
   float: left;
   padding-top: 50px;
}

.navliright{
   text-decoration: none;
   display: inline;
   padding-right: 25px;
   font-size: 20px;
}

h1{
   font-family:Curlz MT;
   font-size:70px; 
   color:#000000;
}
p{
   font-family: Arial, Helvetica, sans-serif;
   font-size:30px; 
   color:#008080;
}
.navuldropdown{
   list-style: none;
   margin: 0px;
   padding: 0px;
}
.navuldropdownli{
   text-decoration: none;
   display: none;
}
.navliright:hover ul li{
   display: block;
   padding-left: 20px;
}